html {
    font-size: 16px;
}
body { 
    font-family: sans-serif;
}
input, 
textarea, 
button {
    display: block; 
    width: 100%; 
    margin-bottom: 1rem; 
    box-sizing: border-box; 
}
input, 
textarea { 
    padding: 10px; 
    font-size: 1rem;
}

button { 
    padding: 1rem;
    font-size: 1rem;
}
li, 
p {
    margin-bottom: 10px; 
    text-align: justify;
}

.container { 
    max-width: 500px; 
    margin: 0 auto; 
    padding-block: 20px; 
    padding-inline: 5px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message { 
    margin-bottom: 5px; 
}

.message.sent { 
    text-align: right; 
    color: blue; 
}

.message.received { 
    text-align: left; 
    color: green; 
}

.message.service { 
    text-align: center; 
    color: red; 
}
.connection-status{
    font-weight:bold; 
    color:green;
}
#messages { 
    border: 1px solid #ccc; 
    padding: 10px; 
    min-height: 100px; 
    background: #f9f9f9; 
}